* {
    margin: 0;
}

body {
    background-color: rgb(236, 193, 112);

}

header {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 15px;
}

header p {
    position: relative;
    left: 5%;
    font-size: 35px;
}

main {
    background-color: antiquewhite;
    margin-top: 1%;
    width: 80%;
    height: 80%;
    left: 10%;
    margin-right: auto;
    position: absolute;
    border-radius: 15px;
}

nav {
    width: 80%;
    background-color: rgb(140, 185, 54);
    margin-left: auto;
    margin-right: auto;
    top: 1%;
    height: 10%;
    position: relative;
    border-radius: 15px;
}

nav p {
    position: relative;
    top: 25%;
    left: 1%;
    font-size: 1.4vw;
    width: 15%;
}

aside {
    width: 30%;
    height: 85%;
    margin-top: 1.3%;
    right: 1%;
    border-radius: 15px;
    position: absolute;
    background-color: aquamarine;
}

aside p {
    font-size: 25px;
    text-align: center;
    margin-top: 45%;
}

section {
    background-color: whitesmoke;
    width: 65%;
    height: 41%;
    position: relative;
    margin-top: 1.2%;
    left: 1%;
    border-radius: 15px;
}

section p {
    position: relative;
    text-align: center;
    padding: 14%;
    font-size: 30px;
}

footer {
    width: 80%;
    left: 10%;
    position: absolute;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    bottom: 2%;
    border-radius: 15px;
    height: 8%;
}

footer p {
    text-align: center;
    color: wheat;
    font-size: 35px;
    margin-top: 1%;
}

a {
    box-shadow: 16px 10px 19px rgba(0, 0, 0, 0.8);
}

.a1 {
    background-color: blueviolet;
    height: 55%;
    left: 20%;
    width: 20%;
    bottom: 25%;
    position: absolute;
    text-decoration: none;
    color:inherit;
    border-radius: 15px;

}

.a2 {
    background-color: blueviolet;
    height: 55%;
    left: 42%;
    width: 20%;
    bottom: 25%;
    position: absolute;
    text-decoration: none;
    color:inherit;
    border-radius: 15px;

}

.a3 {
    background-color: blueviolet;
    height: 55%;
    left: 64%;
    width: 20%;
    bottom: 25%;
    position: absolute;
    text-decoration: none;
    color:inherit;
    border-radius: 15px;

}

a p { 
    position: relative;
    left: 15%;
    font-size: 1.3vw;
    width: 100%;
}

audio {
    position: relative;
    left: 35%;
    top: 35%;
}


video {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}